.container {
    padding: 2rem;
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.event-card {
  background: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.2s;
  border: 1px solid #d9edff;
  display: flex;
  flex-direction: column;
}
.event-card:hover {
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}
.event-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

a {
  color: #222;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #0059b3;
}

h3 {
  font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.event-card span,
.event-card h3,
.event-card p {
  padding: 0 1.5rem;
}
.event-card h3 {
    padding-top: 1.5rem;
}

.event-card h3 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
.event-card p {
  padding-bottom: 1.5rem;
  margin-top: 0;
}

.section.events {
    padding: 0 2rem;
    margin-top: 2rem;
}